.subjects {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subjects > .subject {
  display: flex;
  flex-direction: column;
  background-color: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-on-surface);
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
}

.subjects > .subject.selected > a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
}

.subjects > .subject a {
  color: var(--md-sys-color-secondary);
  text-decoration: underline;
}

.subject > .infos-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--md-sys-color-surface-container);
  padding: 4px;
  border-radius: 4px;
  gap: 4px;
}

.infos-wrapper > div.title {
  color: var(--md-sys-color-tertiary);
  align-items: center;
  text-transform: uppercase;
  font-variant: small-caps;
}

.infos-wrapper > .infos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infos > .info {
  display: flex;
  flex-direction: column;
  background-color: var(--md-sys-color-surface-container-high);
  padding: 4px;
  border-radius: 4px;
}

.main>div>span.name {
  padding: 8px;
}

.lessons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.lesson {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--md-sys-color-surface-container-low);
}

.lesson .updateDate {
  color: var(--md-sys-color-tertiary);
}

.lesson .topic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}